torch
torchvision
torchaudio
tensorflow
tensorflow-datasets
tensorflow-addons
tensorflow-hub
keras
numpy
p-utils
pyspark
pysoundfile
matplotlib
seaborn
pandas
scipy
scikit-learn
tqdm
opencv-python
pillow
imageio
albumentations
torchsummary
torchinfo
onnx
onnxruntime
datasets
transformers
nltk
spacy
gensim
fasttext
huggingface_hub
fairseq
sentencepiece
ipywidgets
dvc
dvc[s3]
mlflow
pml
pydantic
dotenv
detectron2
yolov5
gpustat
cuda-python
cupy-cuda12x
torchvision
pmdarima
prophet
xgboost
lightgbm
catboost
imblearn
automl
ray[tune]
optuna
deepface
facenet_pytorch
efficientnet_pytorch
segmentation-models-pytorch
timm
openmim
mmcv
mmdet
mmsegmentation
super-gradients
paddlepaddle
paddleocr
